# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc

# Environment & secrets
.env
*.env

#  files
data/

# Virtual environments
venv/
.env/
.venv/

# Temp files
*.tmp
*.log
temp.txt

# Streamlit cache
.streamlit/

# IDE configs
.vscode/
.idea/
