# === Core ===
fastapi
uvicorn
streamlit
requests
python-dotenv
python-multipart
# === Vector DB & Embeddings ===
faiss-cpu
sentence-transformers
langchain
langchain-community
qdrant-client
langchain_qdrant
langchain-groq
langchain-core
langchain-openai
langchain-text-splitters
tiktoken
faiss-cpu
# === LLM ===
groq
numpy
pandas
# === Utilities ===
transformers
torch
docx2txt
pypdf
pydantic